<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div id="header">
            <p id="header-oject1">Путешествия</p>
            <p id="header-oject2"><a href="/">Главная</a></p>
            <p id="header-oject3"><a href="direction">Направления</a></p>
        </div>

        <div id="main">
            <div id="main-object">
                <p id="main-object-1">Начните путешествовать.</p>
                <p id="main-object-2">Благодаря моему сайту вы сможите найти что нибудь интересное для себя, здесь собраны туры по России.</p>
                <a href="direction"><div id="main-object-3">Направления</div></a>
            </div>
        </div>

        <div id="footer">
            <p id="footer-oject1">Связь со мной: </p>
            <div id="footer-oject2"><a target="_blank" href="https://t.me/evgeniykiss"> <img src="static/css/images/tg.png" width="50px"></a></div>
            <div id="footer-oject3"><a target="_blank" href="https://vk.com/evgeniykis"> <img src="static/css/images/vk.png" width="50px"></a></div>
        </div>
    </body>
</html>