<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Тур</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div id="header">
            <p id="header-oject1">Путешествия</p>
            <p id="header-oject2"><a href="/">Главная</a></p>
            <p id="header-oject3"><a href="/direction">Направления</a></p>
        </div>

        <div id="main">
            <div id="tour">
                <div id="tour-image">
                    <img src="{{ tour_image }}" width="400" height="400" alt="pc1">
                </div>
                <div id="tour-text">
                    <div id="tour-heading">
                        {{ tour_name }}
                    </div>
                    <div id="tour-price">
                        {{ tour_price }}
                    </div>
                    <div id="tour-description">
                        {{ tour_description1 }}<br>
                        {{ tour_description2 }}<br>
                        {{ tour_description3 }}<br>
                        {{ tour_description4 }}
                    </div>
                    <a href="/direction"><div id="backButton">Назад</div></a>
                    <a target="_blank" href="{{ tour_site }}">
                        <div id="detailsButton">Подробнее</div>
                    </a>
                </div>
            </div>
        </div>

        <div id="footer">
            <p id="footer-oject1">Связь со мной: </p>
            <div id="footer-oject2"><a target="_blank" href="https://t.me/evgeniykiss"> <img src="/static/css/images/tg.png" width="50px"></a></div>
            <div id="footer-oject3"><a target="_blank" href="https://vk.com/evgeniykis"> <img src="/static/css/images/vk.png" width="50px"></a></div>
        </div>
    </body>
</html>